body {
    background-image:url("background4.png");
    background-size:100%;
}
ul {
    list-style-type: none;
    padding:0;
    width:8%;
    position:static;
    position:fixed;
    margin-top:-0.35%;
}
li a {
    display: block;
    border-style: groove;
    border-color: grey;
    border-width: 5px;
    padding:10% 1% 10% ;
    text-align: center;
    color:#f51111;
    text-decoration: none;
}
li a:hover{
    color:rgb(19, 54, 230);
}
h1{
    padding-left: 10%;
    padding-top: 0;
    font-family: Verdana, sans-serif;
}
p{
    padding-left: 10%;
    padding-top: 0;
    font-family: Verdana, sans-serif;
}
hr{
    width:80%;
    text-align:left;
    height: 4px;
    background-color:black;
}