#logo {
    padding-bottom:10%;
    margin-bottom:0;
    position:fixed;
    margin-left:25%;
    margin-top:-11%;
}
body {
    background-image:url("background2.png");
    background-size:100%;
}
ul {
    list-style-type: none;
    padding:0;
    width:8%;
    position:sticky;
}
li a {
    display: block;
    border-style: groove;
    border-color: grey;
    border-width: 5px;
    padding:10% 1% 10% ;
    text-align: center;
    color:#f51111;
    text-decoration: none;
}
li a:hover{
    color:rgb(19, 54, 230);
}