
#logo {
    padding:0;
    margin-bottom:0;
    margin-left:25%;
    margin-top:-11%;
}
body {
    background-image:url("background2.png");
    background-attachment: fixed;
    background-size:cover;
}
ul {
    position: fixed;
    list-style-type: none;
    padding:0;
    width:8%;
    top:0;
}
li a {
    display: block;
    border-style: groove;
    border-color: grey;
    border-width: 5px;
    padding:10% 1% 10% ;
    text-align: center;
    color:#f51111;
    text-decoration: none;
}
li a:hover{
    color:rgb(19, 54, 230);
}
.products {
    position:relative;
    margin-top:-10%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 4fr);
  }
.products img {
    width: 100%;
}
.products > .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
}
.products > .item > .item-container > .item-img > img {
    width: 100%;
    height: 100%;
  
    background-color: white;
  
    border: 1px solid #000;
    border-radius: 25px 25px 0px 0px;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.products > .item > .item-container > .description 
{
    color: #fff;
    width: 100%;
    padding: 0px;
} 
.products > .item >.item-container > .add-to-cart {
    background-color: rgb(242, 255, 58);
  
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height: 30px;
  
    position: absolute;
    top: 0;
    right: 1px;
  
    padding: 5px;
  
    border-radius: 50%;
  
    cursor: pointer;
  }  
.products > .item > .item-container > .add-to-wishlist {
    background-color: rgba(255, 21, 21, 0.7);
  
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
  
    position: absolute;
    top: 0;
    right: 42px;
  
    padding: 5px;
  
    border-radius: 50%;
  
    cursor: pointer;
  }
    .products-list > .products  > .item > .item-container>.add-to-wishlist > img
  {
    width: 30px;
    position: relative;
    top:0;
    right: 0;
  }
    .products-list > .products > .item > .item-container>.add-to-cart > img
  {
     width:50%;
     position:relative;
     right: 0;
     left: 0;
  }
  .products-list > .products  > .item >.item-container
   {
    border: 1px solid #000;
    width:60%;
    height:100%;
    background-color: #000;
    margin-bottom: 5%;
    position: relative;
    border-radius: 25px;
   }
   .products-list > .products  > .item >.item-container>.description>h2 {
    margin: 0;
   }
   .products-list > .products  > .item >.item-container>.description>p{
    margin-bottom: 15px;
    margin-top: 0;
   }
  .cart {
    height: 100%;
    width: 25%;
  
    position: relative;
  }
  .cart-header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    position: relative;
    top:100%;
  }
  .cart-items {
    max-height: calc(100vh - 247px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .cart-item {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  .cart-item > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-item > .item-info > img {
    width: 15%;
    margin-left: -67%;
    padding: 5px;
    border: 1px white;
    border-radius: 30px;
    cursor: pointer;
  }
  .cart-item > .item-info > img:hover {
    background-color: #f51111;
  }
  .cart-item > .unit-price{
    margin-left: -50%;
    position: relative;
    right: 44%;
  }
  .cart-item > .units {
    position: relative;
    right: 14%;
  }
  .cart-item > .units > .btn-minus {
    position:relative;
    right: 8px;
    background-color: yellow;
    padding: 2px;
    width: 100%;
    border: yellow 1px;
    border-radius: 50px;
    cursor: pointer;
  }
  .cart-item > .units > .btn-plus {
    position: relative;
    left: 8px;
    background-color: yellow;
    padding: 2px;
    width: 100%;
    border: yellow 1px;
    border-radius: 50px;
    cursor: pointer;
  }

  .cart-footer {
    width: 11%;
    background-color: rgb(255, 21, 21);
    position: fixed;
    bottom: 0;
    left: 89%;
  
    border-left: 1px solid rgb(var(--right-side-bg-color));
  }
  .cart-footer > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-size: 1.3rem;
  }
  .cart-footer > .subtotal {
    background-color: white;
  }
  .cart-footer > .checkout {
    background-color: rgb(242, 255, 58);
  
    cursor: pointer;
  }
  